.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 1000;
    padding: 0;
}

.navbar.scrolled {
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: .95;
}

.navbar-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: black;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1rem;
}

.nav-links {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.nav-links.open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding-top: 60px;
}

.nav-links .nav-item {
    padding: 15px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 32px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .nav-item {
        width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-links.open {
        padding-top: 160px;
    }
}

@media (min-width: 769px) {
    .nav-links.open {
        display: flex;
        position: static;
        height: auto;
        width: auto;
        box-shadow: none;
        padding-top: 0;
    }

    .close-btn {
        display: none;
    }
}