.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.navbar.scrolled {
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    transition: all 0.5s ease;
}

.navbar.scrolled>div>h1 {
    margin: 0;
    font-size: 1.5rem;
    color: black;
}

/* h1  */